span.relogio_dig {
    font-size: 15rem;
    border-radius: 15px;
    box-shadow: 5px 10px 20px #0707079f inset;
    background-color: grey;
    border: 0;
    padding: 0 1.7rem;
    color: #ffff;

}

span.dois_ponto{
    color: white;
    font-size: 18rem;
    margin-top: -60px;
}