.cronometro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cronometro p {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  color: white;
  display: inline-block;
}

.cronometrowrape {
  padding: 2rem;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px 4px #0000009f;
  background: #38376d;
  border-radius: 10px;
}

.botoes {
  display: flex;
  gap: 20px;
}

@media (max-width: 385px) {
  .cronometro p {
    font-size: 1rem;
  }
}
